.button{
  width: 100%;
  background-color: $color-primary;
  border: none;
  padding: 15px;
  border-radius: 4px;
  color: $color-white;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: $box-shadow;
  text-transform: uppercase;

  &:disabled{
    background-color: $color-disabled-background;
    color: $color-disabled-color;

    &:hover{
      opacity: 1;
    }
  }
}
